.flex{
    display: flex;
}
.row {
    flex-direction: row;
}
.col {
    flex-direction: column;
}
.gap-sm {
    gap: 10px;
}
.gap-lg {
    gap: 20px;
}
form input:invalid {
    background-color: coral;
}
form input:not(:invalid) {
    background-color: lightgreen;
}