* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    width: 50%;
    margin: auto;
}
nav ul li {
    display: inline;
    width: 100%;
    margin: 5%;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
#logo {
    text-align: center;
}
.dark-blue {
    color:rgba(35, 70, 108);
}
.light-blue {
    color: rgba(70, 118, 171);
}
.purple-underline {
    color: rgba(79, 59, 183);
    text-decoration: underline;
    font-weight: bolder;
}

header h1 {
    text-align: center;
    font-size: 5rem;

}
#simple-steps ol {
    padding-left: 2%;
}
#simple-steps ol li{
    font-size: 1.1rem;
}
#how-to-get-started h2{
    font-size: 3rem;
    color: rgba(199, 114, 25);
}
#how-to-get-started p {
    font-size: 1.3rem;
}

#outdoors {
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 0.8rem;
    color: white;
    padding: 5% 20% 5% 20%;	
    border: 2px solid rgba(70, 118, 171);
    background-color: rgba(35, 70, 108);
    font-size: 1.3rem;
}


