main {
    width: 70%;
    margin: auto;
}
.breadcrumbs {
    margin: 25px 0;
    font-size: 16px;
    color: var(--color-primary);
}
.breadcrumbs a {
    text-decoration: none;
    color: var(--color-primary);
}
.breadcrumbs a:last-child {
    color: var(--color-secondary);
    text-decoration: underline;
}