main {
    width: 70%;
    margin: auto;
}
.breadcrumbs {
    margin: 25px 0;
    font-size: 16px;
    color: var(--color-primary);
}
.breadcrumbs a {
    text-decoration: none;
    color: var(--color-primary);
}
.breadcrumbs a:last-child {
    color: var(--color-secondary);
    text-decoration: underline;
}
.wrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}
.kid-image {
    width: 50%;
    object-fit: cover;
    object-position: left;
}
h1 {
    font-size: 42px;
    font-weight: bold;
    color: var(--color-secondary);
}
h1 + p {
    font-size: 16px;
    color: var(--color-secondary);
}
form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-group label:has(+ input:required)::after,
.form-group label:has(+ select:required)::after,
.asterisk-after::after{
    content: " *";
    color: red;
}
.form-group input::placeholder,
.form-group select option:first-child {
    color: var(--color-tertiary);
    font-size: 16px;

}
.form-group > p {
    display: none;
}
.form-group input,
.form-group select{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-tertiary);
}
.form-group label {
    color: var(--color-secondary);
}
.name-surname {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.radios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}