@import "utility.css";
@import "variables.css";
@import "css-reset.css";
header {
    font-family: var(--font-family), serif;
}
.contact-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
    color: white;
    background-color: var(--color-secondary);
    padding-left: 120px;
    padding-right: 120px;
    height: 50px;
}
.contact-login figure {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.over-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 23px;
    padding-bottom: 23px;
}
.over-navbar div {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 350px;
}
.over-navbar div img{
    width: 32px;
    height: 32px;
}
.over-navbar input {
    background-image: url(../img/loupe.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    height: 34px;
    width: 210px;
    border: 1px solid #d6d6d6;
}
nav {
    width: 80%;
    margin: auto;
}
nav a {
    text-decoration: none;
    color: var(--color-tertiary);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
nav ul {
    display: flex;
    flex-direction: row;
    height: 69px;
    width: 100%;
}
nav ul li {
    border-left: 1px solid var(--color-tertiary);
    border-top: 1px solid var(--color-tertiary);
    border-bottom: 1px solid var(--color-tertiary);
    list-style: none;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li:hover a {
    color: var(--color-primary);
    font-weight: bold;
}
nav ul li:last-child {
    border-right: 1px solid var(--color-tertiary);
}
nav ul li:hover {
    border-width: 2px;
    border-color: var(--color-primary);
    border-right: 2px solid var(--color-primary);
}
main {
    margin: auto;
    width: 80%;
}

.carousel {
    margin-top: 23px;
    background-image: url(../img/kid-nohy-boty.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.carousel div p:first-child {
    color: var(--color-primary);
    font-size: 24px;
}
.carousel div p:nth-child(2) {
    color: var(--color-secondary);
    font-size: 52px;
    font-weight: bold;
}

footer {
    display: none;
}

@media only screen and (max-width: 600px) {
    
}