@import "utility.css";
@import "variables.css";
@import "css-reset.css";
.navbar-container {
    margin: auto;
    width: 70%;
}
.contact-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
    color: white;
    background-color: var(--color-secondary);
    padding-left: 120px;
    padding-right: 120px;
    height: 50px;
}
.contact-login figure {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.over-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 23px;
}
.over-navbar div {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.over-navbar div img {
    width: 32px;
    height: 32px;
}
.over-navbar input {
    height: 34px;
    width: 210px;
    border: 1px solid #d6d6d6;
}
.over-navbar div form div img {
    width: 25px;
    height: 25px;
}
nav a {
    text-decoration: none;
    color: var(--color-tertiary);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
nav ul {
    display: flex;
    flex-direction: row;
    height: 69px;
    width: 100%;
}
nav ul li {
    border-left: 1px solid var(--color-tertiary);
    border-top: 1px solid var(--color-tertiary);
    border-bottom: 1px solid var(--color-tertiary);
    list-style: none;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li:hover a {
    color: var(--color-primary);
    font-weight: bold;
}
nav ul li:last-child {
    border-right: 1px solid var(--color-tertiary);
}
nav ul li:hover {
    border-width: 2px;
    border-color: var(--color-primary);
    border-right: 2px solid var(--color-primary);
}
@media only screen and (max-width: 1380px) {
    nav ul li:nth-child(4) {
        border-right: 1px solid var(--color-tertiary);
    }
    nav ul li {
        width: 25%;
    }

}
