@media only screen and (max-width: 1380px) {
    nav ul li:nth-child(4) {
        border-right: 1px solid var(--color-tertiary);
    }
    nav ul li {
        width: 25%;
    }

}
@media only screen and (max-width: 1100px) {

}
@media only screen and (max-width: 800px) {

}
@media only screen and (max-width: 620px) {
    .over-navbar form {
        display: none;
    }
    .loupe {
        display: block;
    }
    .contact-login {
        padding: 0;
    }
    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 138px;
        width: 100%;
    }
    nav ul li {
        width: 100%;
        border-bottom: none;
    }
    nav ul li:nth-child(2) {
        border-right: 1px solid var(--color-tertiary)
    }
    nav ul li:nth-child(3),
    nav ul li:nth-child(4){
        border-bottom: 1px solid var(--color-tertiary);
    }
}
@media only screen and (max-width: 430px) {

}