@media only screen and (max-width: 1380px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .product-categories {
        flex-direction: column;
        align-items: center;
    }
    .product-category {
        width: 100%;
        height: 500px;
    }
    .gallery div:nth-child(7),
    .gallery div:nth-child(8) {
        display: none;
    }
}
@media only screen and (max-width: 1100px) {
    .carousel {
        display: none;
    }
    .product-category {
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-width: 800px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .gallery div:nth-child(5),
    .gallery div:nth-child(6) {
        display: none;
    }
    main {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media only screen and (max-width: 430px) {
    .gallery {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .product-category a{
        font-size: 20px;
    }
}