main {
    width: 70%;
    margin: auto;
}
.breadcrumbs {
    margin: 25px 0;
    font-size: 16px;
    color: var(--color-primary);
}
.breadcrumbs a {
    text-decoration: none;
    color: var(--color-primary);
}
.breadcrumbs a:last-child {
    color: var(--color-secondary);
    text-decoration: underline;
}
.product {
    display: flex;
    gap: 30px;
}
.product-images {
    width: 50%;
}
.product-images > img {
    width: 100%;
    height: auto;
}
.product-images img {
    border: 1px solid var(--color-tertiary);
}
.product-images > div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    height: 150px;
}
.product-images > div img {
    width: 30%;
    height: max-content;
    object-fit: contain;
}
/* Tohle vymyslel Chatík */
.product-images > div img:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 red);
  border: 1px solid var(--color-tertiary);
}
.product-info {
    width: 50%;
}
.product-title {
    display: flex;
    justify-content: space-between;
}
.product-title h1 {
    font-size: 42px;
    color: var(--color-secondary);
    font-weight: bold;
}
.product-title img {
    object-fit: contain;
    width: 30%;
}
.product-info > p {
    margin: 50px 0;
    font-size: 18px;
    line-height: 1.6;
    color: var(--color-tertiary);
}
.options {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.color > div > div {
    width: 34px;
    height: 34px;
    border-radius: 17px;
    border: 2px solid var(--color-tertiary);
    cursor: pointer;
}
.color > div > div:nth-child(1) {
    background-color: var(--color-secondary);
}
.color > div > div:nth-child(2) {
    background-color: black;
}
.color > div > div:nth-child(3) {
    background-color: var(--color-primary);
}
.color > div > div:nth-child(4) {
    background-color: var(--color-secondary);
    border: 2px solid var(--color-primary);
}
.color > div > div:nth-child(5) {
    background-color: #acd373;
}
.color > div {
    margin-top: 7px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.color > p,.size > p {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-secondary);
}
.size > div {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.size > div > span {
    font-size: 16px;
    cursor: pointer;
    color: var(--color-secondary);
}
.size > div > span:nth-child(2) {
    color: var(--color-tertiary);
    text-decoration: line-through;
    cursor: not-allowed;
}
.size > div > span:nth-child(4) {
    color: var(--color-primary);
    text-decoration: underline;
    font-weight: bold;
}
.product-info > span {
    font-size: 42px;
    font-weight: bold;
    color: var(--color-secondary);
}
.purchase-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.prices p:nth-child(1) {
    font-size: 16px;
    color: var(--color-tertiary);
    text-decoration: line-through;
}
.prices p:nth-child(2) {
    font-size: 42px;
    font-weight: bold;
    color: var(--color-primary);
    text-wrap: nowrap;
}
.button-wrapper {
    position: relative;
}

.button-wrapper img {
    position: absolute; /* Prvek se vyjme z běžného toku stránky. Ostatní prvky ho „nevidí“, jako kdyby tam nebyl. */
    left: 10px;
    top: 50%;
    transform: translateY(-50%); /* transform umožňuje prvek posunout, otočit, zvětšit… */
    pointer-events: none;   /* aby na ikonu nešlo kliknout */
    color: #aaa;
    font-size: 18px;
    filter: brightness(0%) invert(1);
}

.button-wrapper button {
    width: 225px;
    padding: 10px 10px 10px 40px; /* místo pro ikonku */
    font-size: 16px;
}
.product-details {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.product-description {
    width: 60%;
}
.product-description h2{
    font-size: 36px;
    color: var(--color-secondary);
    font-weight: bold;
}
.product-description p {
    margin-top: 20px;
    color: var(--color-secondary);
    font-size: 16px;
}
.product-description p span {
    font-weight: bold;
}
.product-details table {
    width: 380px;
}
thead {
    height: 57px;
    background-color: var(--color-secondary);
}
table > thead > tr > th > p {
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    height: 100%;
}
table > tbody > tr > td:nth-child(1) {
    font-weight: bold;
    width: 55%;
    padding-left: 10px;
}
table > tbody > tr > td {
    padding: 15px 0;
    color: var(--color-secondary);
    font-size: 16px;
}
table > tbody > tr:nth-child(odd) {
    background-color: #d6d9e1;
}
.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}
.section-title h2{
    color: var(--color-primary);
    font-size: 35px;
}
.section-title span {
    color: var(--color-secondary);
    font-weight: bold;
    font-size: 35px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}
.product-card {
    border: 1px solid var(--color-tertiary);
    padding: 10px;
}
.product-card img {
    max-width: 100%;
    height: auto;
}
.product-card > div {
    margin-top: 5px;
    height: 32px;
}
.product-card > div > div {
    width: 100%;
}
.product-card > div span {
    text-wrap: nowrap;
    font-size: 20px;
}
.product-card > div span:nth-child(1) {
    font-weight: bold;
    color: var(--color-primary);
}
.product-card > div span:nth-child(2) {
    text-decoration: line-through;
    color: var(--color-tertiary);
}
.product-card > div > div {
    display: none;
}
.product-card:hover > div > div {
    display: flex;
}
.product-card:hover {
    border: 2px solid var(--color-primary);
}
.product-card:hover p{
    font-weight: 600;
}
.product-card p {
    color: var(--color-secondary);
    font-size: 18px;
}
.circles {
    display: flex;
    justify-content: space-between;
}
.circle-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

.circle-group > div {
    background-color: var(--color-secondary);
    width: 69px;
    height: 69px;
    border-radius: 50%;
}
.circle-group div img {
    width: 45px;
    height: auto;
}
.circle-group h3 {
    font-size: 20px;
    color: var(--color-secondary);
}
.circle-group:hover div {
    background-color: var(--color-primary);
}
.circle-group:hover h3 {
    color: var(--color-primary);
    text-decoration: underline;
}