@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --color-primary: #c7232f;
    --color-secondary: #304068;
    --font-family: 'Libre Franklin', serif;
    --color-tertiary: #b4bed5;
    --tablet-treshold: 1380px;
    --mobile-treshold: 430px;
}

* {
     font-family: var(--font-family), serif;
}

@media only screen and (max-width: 1380px) {
    .no-tablet {
        display: none;
    }
}

@media only screen and (max-width: 430px) {
    .no-mobile {
        display: none;
    }
}